/Palette_Simulation/palette/cluster_result/PMF_download_1000_30_1.pkl
/Palette_Simulation/palette/cluster_result/PMF_upload_1000_30_1.pkl
/Palette_Simulation/palette/cluster_result/shrunk_super_matrices_1000_30_1.npy
/Palette_Simulation/palette/cluster_result/super_matrices_1000_30_1.npy
/Palette_Simulation/palette/cluster_result/total_set_1000_30_1.pkl
/Palette_Simulation/palette/cluster_result/website_to_set_1000_30_1.npy
